{:paths ["src" "resources"]
 :deps
 {org.scicloj/wolframite {:mvn/version "1.0.0"}
  ;; org.scicloj/wolframite {:local/root "../wolframite/"}
  }
 :aliases
 {:dev {:extra-paths ["dev" "test" "notebooks"]
        :jvm-opts ["-Djdk.attach.allowAttachSelf"]
        :extra-deps {org.scicloj/clay {:mvn/version "2-beta31.1"}}}

  :build
  {:deps {io.github.clojure/tools.build {:git/tag "v0.10.4" :git/sha "31388ff"}
          ;; slipset/deps-deploy {:mvn/version "0.2.2"}

          org.scicloj/clay {:mvn/version "2-beta23"}
          ;; We need wolframite + JLink to render Wolf code in the docs
          ;; wolfram/jlink {:local/root "./symlink-jlink.jar"}
          org.scicloj/wolframite {:mvn/version "1.0.0"}
          }
   :extra-paths ["notebooks"]
   :ns-default build}}}
